---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Despega con Trome">
  <main
    class="relative min-h-screen flex items-center justify-center bg-gradient-to-tr from-[#4b1841] to-[#94044a]"
  >
    <div
      class="max-w-5xl px-6 lg:px-8 relative text-center flex flex-col items-center justify-center gap-8"
    >
      <h1 class="text-white font-bold text-3xl md:text-5xl lg:text-6xl">
        ¡Muchas gracias por ser parte de "Despega con Trome y Zegel"!
      </h1>
      <p class="text-white max-w-3xl mx-auto text-xl md:text-2xl lg:text-3xl">
        Recibirás un correo con los accesos a la plataforma de Zegel Virtual,
        para que inicies tu curso.
      </p>

      <p class="text-white max-w-4xl mx-auto text-xl md:text-2xl lg:text-3xl">
        Recuerda que tu curso se activará en las próximas 24 horas.
      </p>

      <a
        href="/"
        class="inline-flex justify-center rounded-full text-xl font-bold py-3 px-8 bg-[#ff0049] text-white hover:bg-[#FF3F63] transition-all uppercase shadow-md hover:shadow-2xl w-full lg:w-auto disabled:pointer-events-none disabled:bg-opacity-60"
        >Volver al inicio</a
      >
    </div>
  </main>
</Layout>
