---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Benefits from "../components/Benefits.astro";
import WhatGoingToLearn from "../components/WhatGoingToLearn.astro";
import About from "../components/About.astro";
import RegisterForm from "../components/RegisterForm.astro";
---

<Layout title="Despega con Trome">
  <main class="relative">
    <Hero />
    <!-- ¿Qué es desoega con Trome? -->
    <About />

    <!-- ¿Qué voy aprender? -->
    <WhatGoingToLearn />

    <!-- Beneficios -->
    <Benefits />

    <div class="bg-[#4f0b3e]" id="register">
      <RegisterForm />
    </div>
  </main>

  <a
    href="#register"
    class="fixed top-1/2 -right-[5rem] hover:-right-[4.5rem] transform -translate-y-1/2 -rotate-90 select-none cursor-pointer rounded-tr-2xl rounded-tl-2xl text-md font-bold py-3 px-6 bg-[#ff0049] text-white hover:bg-[#FF3F63] transition-all uppercase shadow-md hover:shadow-2xl"
    >Regístrate aquí</a
  >
</Layout>
