---

---

<section
  class="mx-auto py-10 max-w-7xl px-6 sm:py-14 lg:py-20 lg:px-8 relative"
>
  <div class="relative pb-20">
    <div class="lg:mx-20">
      <h2 class="font-bold text-[#ff0049] text-5xl text-center">
        ¿Qué es despega con Trome?
      </h2>

      <article class="mt-10 prose max-w-none">
        <p class="text-center text-3xl text-[#ff0049]">
          Es una campaña que pondrá a disposición de los emprendedores 8 cursos
          online de manera gratuita para que puedan capacitarse y llevar su
          negocio a un siguiente nivel.
        </p>

        <p class="text-center text-3xl text-[#ff0049]">
          Los cursos están diseñados por módulos de aprendizaje y se irán
          habilitando de forma semanal
        </p>
      </article>

      <div class="mt-10 flex items-center gap-4 justify-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="w-10 h-10 text-[#ff0049]"
          ><circle cx="12" cy="12" r="10"></circle><polyline
            points="12 6 12 12 16 14"></polyline></svg
        >

        <p class="text-3xl text-[#ff0049]">Duración: 8 semanas</p>
      </div>
    </div>

    <!-- Squares (top-left corner) -->
    <div class="absolute top-0 -z-10">
      <svg class="w-5 h-5">
        <rect x="0" y="0" width="20" height="20" fill="#4f0b3e"></rect>
      </svg>
    </div>

    <!-- Squares (bottom-right corner) -->
    <div class="absolute bottom-0 left-0 -z-10">
      <svg class="w-10 h-10">
        <rect x="20" y="0" width="20" height="20" fill="#ff0049"></rect>
        <rect x="0" y="20" width="20" height="20" fill="#ff0049"></rect>
        <rect x="20" y="20" width="20" height="20" fill="#4f0b3e"></rect>
      </svg>
    </div>

    <!-- Squares (top-left corner) -->
    <div class="absolute top-0 right-0 -z-10">
      <svg class="w-10 h-10">
        <rect x="20" y="0" width="20" height="20" fill="#4f0b3e"></rect>
        <rect x="0" y="20" width="20" height="20" fill="#ff0049"></rect>
      </svg>
    </div>

    <!-- Squares (top-right corner) -->
    <div class="absolute bottom-0 right-0 -z-10">
      <svg class="w-10 h-10">
        <rect x="20" y="20" width="20" height="20" fill="#4f0b3e"></rect>
        <rect x="0" y="20" width="20" height="20" fill="#ff0049"></rect>
      </svg>
    </div>
  </div>
</section>
