---
import Form from "./Form";
---

<section
  class="mx-auto py-10 max-w-7xl px-6 sm:py-14 lg:py-20 lg:px-8 relative"
>
  <div class="relative lg:mx-20 py-10">
    <Form client:visible />
  </div>
</section>
