---
const topics = [
  "Emprendimiento para los negocios",
  "Storytelling",
  "Innovación empresarial",
  "Financiamiento para emprendedores",
  "Marketing de servicios",
  "Community manager",
  "Branding",
  "Inteligencia emocional y Liderazgo",
];
---

<section class="bg-[#ff0049]">
  <div class="mx-auto py-10 max-w-7xl px-6 sm:py-14 lg:py-20 lg:px-8 relative">
    <div class="relative pb-20">
      <div class="lg:mx-20">
        <h2 class="font-bold text-white text-5xl text-center">
          ¿Qué voy aprender?
        </h2>

        <div
          class="grid mt-10 sm:mt-14 lg:mt-20 md:grid-cols-2 gap-6 justify-center md:justify-normal"
        >
          {
            topics.map((topic) => (
              <div class="flex items-center gap-6">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="1.25"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="w-16 h-16 text-white flex-none"
                >
                  <>
                    <line x1="7" y1="17" x2="17" y2="7" />
                    <polyline points="7 7 17 7 17 17" />
                  </>
                </svg>

                <p class="text-white text-3xl max-w-xs">{topic}</p>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
